
<!doctype html>
<html>
<head>
<title>[about:title]-{aspcms:sitetitle}</title>
<meta name="Keywords" content="[about:keyword]" >
<meta name="Description" content="[about:desc]" >
    {aspcms:template src=head-nei.html}
<!-- 边栏悬浮 -->
    {aspcms:template src=left.html}
<div class="warp-container">
    <div class="index-mainbody">
        <div class="content">
            <div class="position">
                 您现在的位置：<a href="{aspcms:sitepath}{aspcms:languagepath}">首页</a>{aspcms:position} &gt; [position:link]{/aspcms:position}&nbsp;&raquo;&nbsp;
            </div>
			<!--
            <h1 class="info_title">[about:title]</h1>
            <hr class="info_title_line" />-->
            <div class="info_content">[about:info]
            </div>
            <div class="pagefoot">
              
                <a href="javascript:history.back();" class="page-back">返回</a>
                
            </div>
        </div>
    </div>
  
</div>
{aspcms:foot}
</body>
</html>
