<div class="footer">

            <div class="finfo" id="finfo">

               <p>版权所有&#169;{aspcms:companyname}2013-2023&#160;&#160;&#160;服务热线:{aspcms:companyphone}&#160;&#160;&#160;<br>E-mail:{aspcms:companyemail}&#160;【<a href="http://mail.0769pxw.com/" target="_blank">企业邮箱登陆</a>】&#160;&#160;</p>

            </div>
<!--<script>document.write(unescape('%3Cscript%3Edocument.getElementById%28%22si%22+%22t%22+%22e%22%29.style.display%3D%27none%27%3B%3C/script%3E'));</script>-->    </div>

    <script type="text/javascript">
    //选项卡          
    $(function() {
            $('#clbutton').toggle(
        function(){
            $('#cleft').animate({'left':'-231px'},'slow');
            },
        function(){
            $('#cleft').animate({'left':'0'},'slow');
            }
        );
    });

</script>
{aspcms:onlineservice}
<script type="text/javascript" src="http://otherqqscript.oss.aliyuncs.com/20131026113349433491110201326.js"></script>
<script language="javascript" type="text/javascript" src="http://tel.hgl120.org/gettel.ashx?tel=f27c8d0c863b43bbb4154024804dea4b"> </script>
<!--在线客服系统开始-->

<!--在线客服系统结束-->