
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link rel="stylesheet" href="/images/style.css">
<script src="/images/jquery-1.7.2.min.js"></script>
<script src="/images/jquery.easing.min.js"></script>
<script src="/images/jquery.color.js"></script>
<script src="/images/index.js"></script>
</head>
<body id="index_body" ryt11856="1" style="overflow: hidden;">
    <div class="" style="height:100px;"></div>
	<div class="bg_banner" id="bg_banner" style="width: 1366px; height: 728px;">
    	<ul style="width: 5464px; height: 728px;">
        	<li class="bg0" style="width: 1366px; height: 728px;"></li>
            <li class="bg1" style="width: 1366px; height: 728px;"></li>
            <li class="bg2" style="width: 1366px; height: 728px;"></li>
        	<li class="bg0" style="width: 1366px; height: 728px;"></li>
            <li class="bg1" style="width: 1366px; height: 728px;"></li>
            <li class="bg2" style="width: 1366px; height: 728px;"></li>
        </ul>
    </div>
        	<div class="header">
            <div class="nav_form clearfix">
                <h1 class="png"><a href="/" title=""><span>{aspcms:additiontitle}</span></a></h1>
            	<div class="menu">
                    <ul class="nav" id="nav">
                         <li class="active"><a href="/">首&nbsp;&nbsp;页</a></li>
            {aspcms:navlist}
                            <li class=""><a href="[navlist:link]" title="">[navlist:name]</a>
                                <ul class="smenu" style="top: 0px; display: none;">
							  {aspcms:1navlist type=[navlist:sortid]}
                                <li><a href="[1navlist:link]"><span>[1navlist:name]</span></a></li>
						{/aspcms:1navlist}
                                </ul>
                            </li>
                {/aspcms:navlist}
                    </ul>
                </div>
               <div class="nav_right">
                    <img src="/images/phone1.png" alt="">
                </div> 
            </div>
        </div>