<!DOCTYPE html>
<html>
<head>
<title>{aspcms:sitetitle}{aspcms:additiontitle}</title>
<meta name="Keywords" content="{aspcms:sitekeywords}" >
<meta name="Description" content="{aspcms:sitedesc}" >
{aspcms:top}
<!-- 边栏悬浮 -->
    {aspcms:template src=left.html}
        <div id="pxs_container" class="pxs_container" style="width: 1366px;">
            <ul class="pxs_slider" style="width: 5464px;">
                <li style="width: 1366px;"><a href="#"><img src="/images/banner1.png" alt="First Image"></a></li>
                <li style="width: 1366px;"><a href="#"><img src="/images/banner2.png" alt="Second Image"></a></li>
                <li style="width: 1366px;"><a href="#"><img src="/images/banner3.png" alt="Third Image"></a></li>
                <li style="width: 1366px;"><a href="#"><img src="/images/banner1.png" alt="First Image"></a></li>
                <li style="width: 1366px;"><a href="#"><img src="/images/banner2.png" alt="Second Image"></a></li>
                <li style="width: 1366px;"><a href="#"><img src="/images/banner3.png" alt="Third Image"></a></li>
            </ul>
        </div><!-- ei-slider -->
        <div class="fnav" id="fnav">
            <ul class="fnav_nav" id="fnav_nav">
<li class="flistyle">
                    <img src="/images/transparent.png" class="zimg pic-1">
                    <a href="/list/?1_1.html"><img src="/images/transparent.png" class="bimg bic-1"></a>
                    <h5>新闻中心</h5>
                    
                </li>
<li class="flistyle">
                    <img src="/images/transparent.png" class="zimg pic-2">
                    <a href="/about/?19.html"><img src="/images/transparent.png" class="bimg bic-2"></a>
                    <h5>关于我们</h5>
                    
                </li>
<li class="flistyle">
                    <img src="/images/transparent.png" class="zimg pic-3">
                    <a href="/list/?5_1.html"><img src="/images/transparent.png" class="bimg bic-3" style="display: none;"></a>
                    <h5 style="color: rgb(255, 255, 255);">产品展示</h5>
                    
                </li>
<li class="flistyle">
                    <img src="/images/transparent.png" class="zimg pic-4">
                    <a href="/list/?8_1.html"><img src="/images/transparent.png" class="bimg bic-4"></a>
                    <h5>资料下载</h5>
                </li>
<li class="flistyle">
                    <img src="/images/transparent.png" class="zimg pic-5">
                    <a href="/list/?11_1.html"><img src="/images/transparent.png" class="bimg bic-5"></a>
                    <h5>招聘信息</h5>
                    
                </li>
<li class="flistyle">
                    <img src="/images/transparent.png" class="zimg pic-6">
                    <a href="/about/?18.html"><img src="/images/transparent.png" class="bimg bic-6" style="display: inline; opacity: 0.85100625;"></a>
                    <h5 style="color: rgb(255, 255, 255);">在线留言</h5>
                    
                </li>

            </ul>
        </div>
		{aspcms:foot}
</body></html>