
<!doctype html>
<html>
<head>
<title>[news:title]-{aspcms:sortname}-{aspcms:sitetitle}</title>
<meta name="Keywords" content="[news:keyword]" >
<meta name="Description" content="[news:desc]" >
    {aspcms:template src=head-nei.html}
<!-- 边栏悬浮 -->
    {aspcms:template src=left.html}
<div class="warp-container">
    <div class="index-mainbody">
        <div class="content">
            <div class="position">
                 您现在的位置：<a href="{aspcms:sitepath}{aspcms:languagepath}">首页</a>{aspcms:position} &gt; [position:link]{/aspcms:position}&nbsp;&raquo;&nbsp;
            </div>
            <h1 class="info_title">[news:title]</h1><div class="text-center">作者：[news:author]    发布于：[news:date]  点击量：[news:visits]</div>
            <hr class="info_title_line" />
            <div class="info_content">[news:info]<p align="center"></p>
            </div><div class="pagefoot">
                <ul class="prev-next">
                    <li class="prev">上一篇：{aspcms:prev} </li>
                    <li class="next">下一篇：{aspcms:next}</li>
                </ul>
             
                <a href="javascript:history.back();" class="page-back">返回</a>
            </div>
        </div>
    </div>
  
</div>
{aspcms:foot}
</body>
</html>
